Repository neville-nazerane/auth: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Nuget.yaml, pipelines/WebApi.yaml

pipelines/Nuget.yaml:
  pool: hosted-linux
  name: $(MajorVersion).$(MinorVersion).$(Build.BuildId)
  stages:
  - stage: null
    displayName: Build
    jobs:
    - job: Compile
      steps:
      - ${{ each project in parameters.projects }}:
        - script: 'dotnet pack ${{ project }} \
  
            -c release \
  
  ...

pipelines/WebApi.yaml:
  pool: hosted-linux
  stages:
  - stage: null
    displayName: Build
    jobs:
    - job: Compile
      steps:
      - script: 'dotnet publish $(projectPath) -c release -o published
  
          mkdir -p compressed
  
          tar -czf compressed/$(projectName).tar.gz -C published .
  
          '
  ...

sdk creation
  src/Auth.ServerSDK/Auth.ServerSDK.csproj
  src/Auth.ServerSDK/AuthConfigs.cs
  src/Auth.ServerSDK/AuthSDK.cs
  src/Auth.ServerSDK/Extensions/AuthServiceExtensions.cs
  src/Auth.WebAPI/Program.cs
  src/Auth.WebAPI/Services/HeaderAuthenticationHandler.cs
Due: pipelines/Nuget.yaml, pipelines/WebApi.yaml

config key setup
  src/Auth.ServerSDK/AuthConfigs.cs
  src/Auth.ServerSDK/Extensions/AuthServiceExtensions.cs
Due: pipelines/Nuget.yaml

setting up endpoint call
  src/Auth.ServerSDK/AuthSDK.cs
  src/Auth.WebAPI/Services/Endpoints.cs
Due: pipelines/Nuget.yaml, pipelines/WebApi.yaml

cleaning up loign
  src/Auth.ApiConsumer/AuthService.cs
  src/Auth.WebAPI/Program.cs
  src/Auth.WebAPI/Services/HeaderAuthenticationHandler.cs
Due: pipelines/Nuget.yaml, pipelines/WebApi.yaml

added header key to ci cd
  pipelines/WebApi.yaml
Due: pipelines/WebApi.yaml

Path conditions:
  pipelines/Nuget.yaml: any of: src/Auth.Models, src/Auth.ApiConsumer, src/Auth.ServerSDK, pipelines/Nuget.yaml
  pipelines/WebApi.yaml: any of: src/Auth.Models, src/Auth.WebAPI, pipelines/WebApi.yaml
