Repository neville-nazerane/auth: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Nuget.yaml, pipelines/WebApi.yaml

pipelines/Nuget.yaml:
  pool: hosted-linux
  stages:
  - stage: null
    displayName: Build
    jobs:
    - job: Compile
      steps:
      - ${{ each project in variables.projects }}:
        - script: dotnet pack ${{ project }} -c release -o nugets
          workingDirectory: src
          displayName: Packing ${{ project }}
  ...

pipelines/WebApi.yaml:
  pool: hosted-linux
  stages:
  - stage: null
    displayName: Build
    jobs:
    - job: Compile
      steps:
      - script: 'dotnet publish $(projectPath) -c release -o published
  
          mkdir -p compressed
  
          tar -czf compressed/$(projectName).tar.gz -C published .
  
          '
  ...

fixed up padding
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

pass all projects in there
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

trying out loop
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

commented out the path
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

trying out the pack stuff
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

packagesToPack
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

packing up
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

setting to object
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

pushing right directory
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

multi lines
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

pushing nuget
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

download artifacts
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

dotnet nuget pack
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

using service connection
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

version number
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

version number again
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

trying PackageVersion
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

setting version on build
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

added the slash
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

added another the slash
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

using PackageVersion
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

BuildNumber
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

downloading specific nugets
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

fixing artifact name
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

workspace clean up
  pipelines/Nuget.yaml
Due: pipelines/Nuget.yaml

returning token
  src/Auth.ApiConsumer/AuthClient.cs
  src/Auth.Models/UserModel.cs
  src/Auth.WebAPI/Program.cs
  src/Auth.WebAPI/Services/Endpoints.cs
  src/Auth.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/Nuget.yaml, pipelines/WebApi.yaml

adding cors setting
  pipelines/WebApi.yaml
Due: pipelines/WebApi.yaml

fixing user table
  src/Auth.Background/Workers/UserCleanupWorker.cs
  src/Auth.ServerLogic/Entities/User.cs
  src/Auth.ServerLogic/Services/AppDbContext.cs
  src/Auth.WebAPI/Migrations/20241229112645_UserCreatedOn.Designer.cs
  src/Auth.WebAPI/Migrations/20241229112645_UserCreatedOn.cs
  src/Auth.WebAPI/Migrations/20250315114109_Init.Designer.cs
  src/Auth.WebAPI/Migrations/20250315114109_Init.cs
  src/Auth.WebAPI/Migrations/AppDbContextModelSnapshot.cs
  src/Auth.WebAPI/Program.cs
  src/Auth.WebAPI/Services/Endpoints.cs
Due: pipelines/WebApi.yaml

fixing auth.cors
  pipelines/WebApi.yaml
Due: pipelines/WebApi.yaml

setting up login service
  src/Auth.Models/Exceptions/BadRequestException.cs
  src/Auth.Models/TokenResponse.cs
  src/Auth.ServerLogic/Entities/RefreshToken.cs
  src/Auth.ServerLogic/Entities/User.cs
  src/Auth.ServerLogic/Services/AppDbContext.cs
  src/Auth.WebAPI/Program.cs
  src/Auth.WebAPI/Services/Endpoints.cs
  src/Auth.WebAPI/Services/LoginService.cs
  src/Auth.WebAPI/Services/TokenGenerator.cs
Due: pipelines/Nuget.yaml, pipelines/WebApi.yaml

refresh token logic
  src/Auth.ApiConsumer/AuthClient.cs
  src/Auth.WebAPI/Services/Endpoints.cs
  src/auth.sln
Due: pipelines/Nuget.yaml, pipelines/WebApi.yaml

db migration
  src/Auth.WebAPI/Migrations/20250330213150_RefreshToken.Designer.cs
  src/Auth.WebAPI/Migrations/20250330213150_RefreshToken.cs
Due: pipelines/WebApi.yaml

service setup
  src/Auth.ApiConsumer/AuthApiHandler.cs
  src/Auth.ApiConsumer/AuthService.cs
  src/Auth.ApiConsumer/Extensions/ServiceExtension.cs
  src/Auth.ApiConsumer/IAuthStore.cs
  src/Auth.ApiConsumer/Models/TokenData.cs
Due: pipelines/Nuget.yaml

retry logic
  src/Auth.ApiConsumer/AuthApiHandler.cs
Due: pipelines/Nuget.yaml

removed retry
  src/Auth.ApiConsumer/AuthApiHandler.cs
Due: pipelines/Nuget.yaml

fixing up auth service
  src/Auth.ApiConsumer/IAuthStore.cs
Due: pipelines/Nuget.yaml

cleaning up auth manager
  src/Auth.ApiConsumer/AuthService.cs
  src/Auth.ApiConsumer/IAuthStore.cs
Due: pipelines/Nuget.yaml

fixing auth
  src/Auth.ApiConsumer/AuthApiHandler.cs
Due: pipelines/Nuget.yaml

auth's auth
  src/Auth.ServerLogic/Auth.ServerLogic.csproj
  src/Auth.WebAPI/Program.cs
  src/Auth.WebAPI/Services/Endpoints.cs
  src/Auth.WebAPI/Services/HeaderAuthenticationHandler.cs
Due: pipelines/WebApi.yaml

server project setup
  pipelines/Nuget.yaml
  src/Auth.ServerSDK/Auth.ServerSDK.csproj
  src/Auth.WebAPI/Program.cs
  src/auth.sln
Due: pipelines/Nuget.yaml, pipelines/WebApi.yaml

Path conditions:
  pipelines/Nuget.yaml: any of: src/Auth.Models, src/Auth.ApiConsumer, pipelines/Nuget.yaml
  pipelines/WebApi.yaml: any of: src/Auth.Models, src/Auth.WebAPI, pipelines/WebApi.yaml
